body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #333;
  color: white;
   text-align: center;
  padding: 1rem;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

main {
  padding-right: 200px;
  padding-left: 200px;

  .profile-img{
  width: 200px;
  height: auto;
  border-radius: 100px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
}

footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
}
